
<head>

  <link href="/stylesheets/main.css" media="screen" rel="stylesheet" type="text/css" />
  <image style= "opacity = .1">
  <script type="text/javascript" src="/javascripts/jQuery"></script>
    
</head>


<body>
<div id="container">
    <h1>Carouser</h1>
    <h3>Happy Hours and Events Near You</h3>

    <table >
      <tr>
        <th>Title</th>
        <th>Where</th>
        <th>Date</th>
        <th> When </th>
        <th>Distance To Event</th>

        <th></th>
        <th></th>
        <th></th>
      </tr>

    <% @events.each do |event| %>
        <% distance = event.distance_to(request.ip).to_i %>  
      <tr>
        <td><%= link_to event.title, event %></td>
        <td><%= event.where %></td>
        <td><%= event.date.strftime("%A, %B %e"    ) %></td>
        <td>From<%=event.start_time.strftime("%l:%M %p")%> To <%=event.end_time.to_s(:time) %></td>
        <td><%= number_with_precision(distance, :precision => 0) %> meters</td>

        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    </table>
    <br> <br>


    <%= link_to 'Create a new Event!', new_event_path, :confirm => "Are you sure?" %>
</div>
</body>
